/* start the recommended CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* make mainNav stay at the top of the page even when scrolling down using the position: sticky key value*/
/*mainNav should contain its child elements in a row*/
/* mainNav should center */
.mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5em;
  background-color: #333;
  z-index: 10;
  color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-around;
  padding-bottom: 4px;
}

.navItem {
  margin-top: 1.5em;
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  flex-shrink: 0; /* Prevent shrinking when the window width gets smaller */
}

.navItem:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.homeNav {
  margin-right: 60%;
}

@media (max-width: 768px) {
  .homeNav {
    margin-right: 40%;
  }
}

@media (max-width: 480px) {
  .homeNav {
    margin-right: 10%;
  }
}

@media (max-width: 768px) and (pointer: coarse) {
  .desktopNav {
    height: 1.8em;
    font-size: small;
  }
}



/*    M O B I L E   S T Y L I N G    */

.mobileMainNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5em;
  background-color: #333;
  z-index: 10;
  color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-around;
  padding-bottom: 4px;
}
