/* techMain class is a parent class with a max height of 15vh, it should contain its child elements in a row with no wrap*/
/*techMain should contain and resize its image children to fit the parent container*/
.techMain {
  position: relative;
  border: 1px dashed rgb(8, 255, 8);
  display: flex;
  flex-direction: column;
  height: auto;
}

.techMain h1 {
  /* border: 1px dotted rgb(255, 225, 0); */
  text-align: center;
  height: 10vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-self: flex-start;
  margin-left: 2vw;
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 0.1em; /* Added space between letters */
  margin-bottom: 1em; /* Add some space below the title */;
}

.techContainer {
  /* border: 1px dotted red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 10vw;
  margin-left: auto;
  margin-right: auto;
}

.techLogoBox {
  /* border: 1px dotted rgb(4, 255, 0); */
  margin: 0 8%;
  max-height: 5vw;
  width: 4.2vw;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.116) 0%, rgba(21, 21, 21, 0.942) 70%);
  position: relative;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.techLogoBox p {
  /* border: 1px dotted green; */
  max-height: 1vw;
  font-size: x-small;
  /* margin-bottom: .5em; */
}
.techLogoBox img {
  /* border: 1px dotted yellow; */
  max-height: 3vw;
  /* object-fit: contain; */
}





/*            M O B I L E    S T Y L I N G        */

.mobileTechMain.techMain {
  margin-bottom: 20vh;
}

.mobileTechContainer.techContainer {
  /* border: 1px dotted rgb(255, 255, 255); */
  max-height: none;
  height: auto;
  /* height:100px;
  width: 100%; */
  justify-content: space-around;
  /* height: 100px;
  max-height: 30vw;  */
}

/* display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-left: auto;
margin-right: auto; */

.mobileTechLogoBox.techLogoBox {
  /* border: 1px dotted rgb(255, 0, 0); */
  height: auto;
  width: auto;
  max-height: none;
  /* display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: auto;
  width: auto;*/
  margin: 1em 4%; 
}
  /* margin: 0 8%;
  max-height: 5vw;
  width: 4.2vw;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.116) 0%, rgba(21, 21, 21, 0.942) 70%);
  position: relative;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); */

.mobileTechLogoBox.techLogoBox p {
  max-height: none;
  height: 1em;
  font-size: 1em;
  /* margin-bottom: 0.5em; */
}

/* max-height: 1vw;
font-size: x-small; */

.mobileTechLogoBox.techLogoBox img {
  max-height: none;
  height: 15vw; /* Adjust this value as needed for your design */
  width: 15vw; /* Adjust this value as needed for your design */
  object-fit: contain; /* Ensure the image does not scale unexpectedly */
  position: relative; /* Ensure it behaves as part of the document flow */
}