.techMain {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}

.techMain h1 {
  text-align: center;
  height: 10vw;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 2vw;
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 10vw;
  margin-left: auto;
  margin-right: auto;
}

.techLogoBox {
  margin: 0 8%;
  max-height: 5vw;
  width: 4.2vw;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.116) 0%, rgba(21, 21, 21, 0.942) 70%);
  position: relative;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.techLogoBox p {
  max-height: 1vw;
  font-size: x-small;
}

.techLogoBox img {
  max-height: 3vw;
}

/*            M O B I L E    S T Y L I N G        */

.mobileTechMain.techMain {
  margin-bottom: 20vh;
}

.mobileTechContainer.techContainer {
  max-height: none;
  height: auto;
  justify-content: space-around;
}

.mobileTechLogoBox.techLogoBox {
  height: auto;
  width: auto;
  max-height: none;
  margin: 1em 4%;
}

.mobileTechLogoBox.techLogoBox p {
  max-height: none;
  height: 1em;
  font-size: 1em;
}

.mobileTechLogoBox.techLogoBox img {
  max-height: none;
  height: 15vw;
  width: 15vw;
  object-fit: contain;
  position: relative;
}