/* techMain class is a parent class with a max height of 15vh, it should contain its child elements in a row with no wrap*/
/*techMain should contain and resize its image children to fit the parent container*/
.techMain {
  position: relative;
  border: 1px dashed rgb(8, 255, 8);
  display: flex;
  flex-direction: column;
}

.techMain h1 {
  /* border: 1px dotted rgb(255, 225, 0); */
  text-align: center;
  height: 10vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-self: flex-start;
  margin-left: 2vw;
  font-family: 'Big Shoulders', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 0.1em; /* Added space between letters */
  margin-bottom: 0;
}

.techContainer {
  /* border: 1px dotted red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 10vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.techLogoBox {
  /* border: 1px dotted rgb(4, 255, 0); */
  margin: 0 8%;
  max-height: 5vw;
  width: 4.2vw;
  /* min-width: 2em; */
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.116) 0%, rgba(21, 21, 21, 0.942) 70%);
  position: relative;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  /* transition: transform 0.3s ease-in-out; */
}

/* .techLogoBox:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
} */

  .techLogoBox p {
    /* border: 1px dotted green; */
    max-height: 1vw;
    font-size: x-small;
    /* margin-bottom: .5em; */
  }

  .techLogoBox img {
    /* border: 1px dotted yellow; */
    max-height: 3vw;
    /* object-fit: contain; */
  }